body {
  margin: 0;
  background-color: #d5d7d9;
}

.page-content {
    padding: 32px 160px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

@media (max-width:560px){
  .page-content{
    padding: 8px 4px;
  }
}

.logout {
  right: 24px;
  position: fixed;
}

.color-gray {
  color: rgba(0, 0, 0, 0.4);
  font-size: 10px;
}

.chat-submit {  
  background: transparent;
  box-shadow: none;
  border: none;
  color: #5A5EB9;
}

#messageContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.my-message {
  align-self: flex-end;
  text-align: right;
  background-color: #03d0ff8f;
}

.other-message {
  align-self: flex-start;
  text-align: left;
  background-color: #03ff2e8f;
}

.my-message, .other-message {
  max-width: 280px;
  word-wrap: break-word;
  border: 5px solid transparent;
  border-radius: 16px;
  padding: 8px;
}

.send-message {
  display: flex;
  flex-direction: row;
  padding: 8px;
}

form.send-message {
  justify-content: center;
}


/* AUTHENTIFICATION */

.is-invalid .mdl-textfield__input {
  border-bottom: 1px solid #d50000 !important;
}
.mdl-textfield__error {
  display: none;
  color: #d50000;
}